.RepoList .search-input {
  border: 2px solid gray;
  border-radius: 12px;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.RepoList .language-selector {
  padding: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .RepoList .search-input {
    width: 60%;
  }
}
