.RepoItem {
  padding: 16px;
  width: 80%;
  margin: 0px auto;
  border-top: 2px solid #e1e4e8;
}

.RepoItem .title {
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.RepoItem .title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.RepoItem .desc {
  padding: 10px 0px;
  text-align: start;
}

.RepoItem .meta {
  text-align: left;
  margin-right: 10px;
}

.RepoItem .language {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.RepoItem .indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.RepoItem .forks-count {
  margin-right: 10px;
  cursor: pointer;
}

.RepoItem .stargazers_count {
  cursor: pointer;
}

.RepoItem .created-at {
  margin-right: 10px;
}

.RepoItem .dates {
  text-align: left;
}
